main {
    padding: 1em;
    grid-template-columns: 0.25fr 0.75fr;
    grid-template-rows: 1fr;

    div.image {
        height: 100%;
        width: 100%;
        background-image: url("/assets/images/coffee_shop.jpg");
        background-size: cover;
        box-shadow:   -5px 0 0 0 #341d15,
        5px 0 0 0 #341d15,
        0 -5px 0 0 #341d15,
        0 5px 0 0 #341d15;
    }

    section {
        display: flex;
        flex-direction: column;
        gap: 1.5em;
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        position: relative;
        padding: 1em 1em 1em 1em;
        height: 100%;
        background-color: #f5d19c;
        box-sizing: border-box;
        box-shadow:   -5px 0 0 0 #341d15,
                 5px 0 0 0 #341d15,
                 0 -5px 0 0 #341d15,
                 0 5px 0 0 #341d15;


        .body-section {
            display: flex;
            flex-direction: column;
            gap: 0.5em;

            h1 {
                text-align: center;
                font-size: clamp(2em, 4vw, 4em);
            }
        }

        .btn-nav {
            display: flex;
            justify-content: space-between;
            gap: clamp(0.5em, 1vw, 1em);

            button {
                box-shadow:   -5px 0 0 0 #341d15,
                5px 0 0 0 #341d15,
                0 -5px 0 0 #341d15,
                0 5px 0 0 #341d15,
                inset 0 -10px 0 #47271c,
                inset 0px 0px 0 rgb(248, 180, 116),
                inset 5px 0px 0 rgb(248, 180, 116),
                inset -5px 0 0 rgb(248, 180, 116);

                font-size: 2em;
                padding: 0.5em 0.5em 0em 0.5em;
                padding-bottom: calc(0.5em + 5px);
                width: 100%;
                background-color: rgb(228, 138, 54);
                border: none;
                color: #f4f3f2;
                cursor: url("../images/cursor/click.png") 12 12, pointer;

                a {
                    cursor: url("../images/cursor/click.png") 12 12, pointer;
                    text-decoration: none;
                    color: #f4f3f2;
                }
            }

            button:active {
                box-shadow:   -5px 0 0 0 #341d15,
                5px 0 0 0 #341d15,
                0 -5px 0 0 #341d15,
                0 5px 0 0 #341d15,
                inset 5px 0px 0 rgb(248, 180, 116),
                inset -5px 0 0 rgb(248, 180, 116);
                padding-bottom: 0.5em;
            }
        }
    }


    section::-webkit-scrollbar {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    main {
        height: 100svh;
        grid-template-columns: 1fr;
        grid-template-rows: 0.25fr 0.75fr;
        overflow: hidden;
        box-sizing: border-box;

        div.image {
            background-image: url("/assets/images/coffee_shop.jpg");
            background-size: cover;
            background-position: center;
        }

        section {
            align-self:flex-start;
            height: 85%;

            overflow-y: auto;
            .btn-nav {
                margin-top: clamp(0.5em, 2vw, 1em);
                display: flex;
                flex-direction: row;
                gap: clamp(0.75em, 1vw, 1em);
    
                button {
                    flex-grow: 1;
                    box-shadow:   -5px 0 0 0 #341d15,
                    5px 0 0 0 #341d15,
                    0 -5px 0 0 #341d15,
                    0 5px 0 0 #341d15,
                    inset 0 -7px 0 #47271c,
                    inset 5px 0px 0 rgb(248, 180, 116),
                    inset -5px 0 0 rgb(248, 180, 116);
    
                    font-size: 1.25em;
                    padding: 0.25em 0.25em 0em 0.25em;
                    padding-bottom: calc(0.25em + 7px);
                    white-space: nowrap;
                    width: fit-content;
                }

                button:active {
                    box-shadow:   -5px 0 0 0 #341d15,
                    5px 0 0 0 #341d15,
                    0 -5px 0 0 #341d15,
                    0 5px 0 0 #341d15,
                    inset 5px 0px 0 rgb(248, 180, 116),
                    inset -5px 0 0 rgb(248, 180, 116);
                    padding-bottom: 0.25em;
                }
        }
    }
}
}